

.container{min-height: 50vh;
    display: flex;


}

.contenedor{
   position: absolute;
   top: 100%;
   left: 50% ;
   transform: translate(-50%, -50% );

}

.contenedor h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: justify;


    

}